body {
    font-family: 'Montserrat', 'sans-serif';
    text-transform: uppercase;
    font-size: 20px;
}

p {
    display: inline;
    margin: 0;
}

input {
    padding: 2px;
    margin-left: 15px;
}

div {
    display:block;
}

#env {
    margin-left: 100px;
    padding: 1px;
}

.red {
    color:red;
}

.blue {
    color:blue;
}

.green {
    color:green;
}