.bordesrojos {
    border: 1px solid;
    border-color: red;
    width: 100%;
    height: 100%;
    text-align: center;
}
.trrojo {
    border: 1px solid;
    border-color: red;
}
.tdrojo {
    border: 1px solid;
    border-color: red;
}
.bordesazules {
    border: 1px solid;
    border-color: blue;
    width: 100%;
    height: 100%;
    text-align: center;
}
.trazul {
    border: 1px solid;
    border-color: blue;
}
.tdazul {
    border: 1px solid;
    border-color: blue;
}